
body{
  background-color: #011627;
}
.wrapper {
  margin-top: 40px;
  width: 100%;
  padding: 15px 50px;
  background-color: #F6F7F8;
  border-radius: 50px 0 0 0;
}
.usericon {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
}
.accordion > .card > .card-header {
  margin-bottom: 0;
}
